<html>
    <head>
<style>
    body{
        background-color: #415746; 
    }
    input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none; 
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
   
  background-color: #e67e22;
     color: #fff;
    margin-right: 15px;  
}

input[type=submit]:hover{
    background-color:  #cf6d17;
}

input[type=checkbox]{
    margin-top: 10px 5px 10px 0;
}
</style>
    </head>
    
    <body>
            <%- include navigationbar.ejs %>
        <form  action="/form" method="post">
            First name:<br>
            <input type="text" name="first" value="first"  required>
            <br>
            
            Last name:<br>
            <input type="text" name="lastname"  value="lastname" required>
            <br><br>

            Email:<br>
            <input type="text" name="Email"  value="email" required>
            <br>
            <input type="submit" name="submit">
           
        </form>
    </body> 
</html> 