<html>
    <head>

    </head>
    
    <body>
            <%- include navigationbar.ejs %>
        <form  action="/form" method="post">
            First name:<br>
            <input type="text" name="first" value="Your first name" required>
            <br>
            
            Last name:<br>
            <input type="text" name="lastname" value="Your last name" required>
            <br><br>

            Email:<br>
            <input type="text" name="Email" value="Your Email" required>
            <br>
            <input type="submit" value="Submit">
           
        </form>
    </body>
</html> 