<html>
    <head>
<style>
</style>
    </head>
    
    <body>
            <%- include navigationbar.ejs %>
        <form  action="/form" method="post">
            First name:<br>
            <input type="text" name="first" value="first"  required>
            <br>
            
            Last name:<br>
            <input type="text" name="lastname"  value="lastname" required>
            <br><br>

            Email:<br>
            <input type="text" name="Email"  value="email" required>
            <br>
            <input type="submit" name="submit">
           
        </form>
    </body>
</html> 