

<!-- views/pages/about.ejs 

<!DOCTYPE html>

<html lang="en">
<head>
  <style>
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2a7a42;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


h1 {
  color: powderblue;
  font-family: 'Times New Roman', Times, serif;
  font-size: 300%;
}
a {
  color:rgb(176, 146, 209);
  font-family: courier;
  font-size: 50%;
  
}

    
    </style>
    -->
</head>
   
<h1> </h1>
<h1> Project </h1>
<body>
    <%- include navigationbar.ejs %>
<h1>Ashe</h1>
<h1></a>Players</h1>
<h1>Contact Page</h1>
<h1>GuestBook</h1>
</body>
</html>