

<!-- views/pages/about.ejs -->

<!DOCTYPE html>

<html lang="en">
<head>
    <style>
h1 {
  color: powderblue;
  font-family: 'Times New Roman', Times, serif;
  font-size: 300%;
}
a {
  color:rgb(176, 146, 209);
  font-family: courier;
  font-size: 50%;
  
}
</style>
        <link rel="stylesheet" type="text/css" href="/stylesheet.css" />
</head>
   
<h1> </h1>
<h1> Project </h1>
<body>
<h1><a href="detail">Ashe</a></h1>
<h1><a href="players">Players</a></h1>
<h1><a href="form">Contact Page</a></h1>
<h1><a href="GuestBook">GuestBook</a></h1>
</body>
</html>