<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
    <br>
    <h1>Player Two</h1>
    <ul>
        <% str.forEach(function(item) { %>
            <li><h2>Name: <%= item.info.player_Family.Pet1.name %></h2></li>
            <li><h2>Age: <%= item.info.player_Family.Pet1.age %></h2></li>
            <li><h2>Location: <%= item.info.player_Family.Pet1.location %></h2></li>
        <% }); %>
    </ul>
    <br>
</body>
</html>