<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
   
    <br>
    <h1>Players</h1>
    <ul>
        <% str.forEach(function(item) { %>
            <li><h2><%= item.info.player_Family.Pet1.name %></h2></li>
            <li><h2><%= item.info.player_Family.Pet2.name %></h2></li>
        <% }); %>
    </ul>
    <br>
    <h3>Pick a player </h3>
    <form action="players" method="post">
        <select name="p_choice">
            <option>Dog</option>
            <option>Cat</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</body>
</html>